<div class="link-wrapper-mobile">
    <ul class="link">
      <li><a href="https://mailhide.io/e/AGpJvk1d" target="_blank"><i class="fa fa-envelope"></i> Email</a></li>
      <li><a href="https://github.com/hyominhan" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
      <li><a href="https://twitter.com/hyomiri" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
      <!-- <li><a href=""><i class="fab fa-linkedin-in"></i> Linkedin</a></li> -->
      <!-- <li><a href=""><i class="far fa-bookmark"></i> Project Repository</a></li> -->
    </ul>
</div>